*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

:root{
    --white-colors: #FFFFFF;
    --gray-color-50: #E6EBF2;
    --gray-colors-100: #050110;
    --gray-colors-200: #1C1D1F;
    --gray-colors-300: #393C40;
    --gray-colors-400: #5C6066;
    --gray-colors-800: #F7F8FA;
    --brand-colors-pink: #F67ACB;
    --white-colors-text: rgba(255,255,255,0.7);
    --white-color-border: rgba(255, 255, 255, 0.2);
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    display: block;
}

button{
    background-color: transparent;
    cursor: pointer;
}

h1,
h2,
h3{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.01rem;
    color: var(--white-colors);
}


h1{
    color: var(--gray-colors-100);
    font-size: 4.8rem;
}

h2{
    font-size: 3.2rem;

}

h3{
    font-size: 2.4rem;
}

.btn_primary{
    display: inline-block;
    background-color: var(--brand-colors-pink);
    padding: 1.2rem 3.4rem;
    font-family: 'Sora';
    font-weight: 600;
    color: var(--gray-colors-100);
    border-radius: 0.3rem;
    text-decoration: none;
    transition: all .5s ease;
    cursor: pointer;
}
.btn_primary:hover{
    background-color: var(--gray-colors-400);
    color: var(--brand-colors-pink);
    transition: all .5s ease;
}

.menu_item{
    line-height: 105%;
    font-family: 1.5rem;
    display: inline-block;
    padding: 1.2rem 2.4rem;
    letter-spacing: -0.01rem;
    color: var(--gray-colors-400);
    transition: all .5s ease;
    background-color: var(--gray-color-50);
}
.menu_item:hover{
    background-color: var(--gray-colors-100);
    color: var(--gray-colors-400);
    transition: all .5s ease-in-out;
}


.container{
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
}